{% extends "parcOfficeBundle::layout.html.twig" %}

{% block title %}
    ParcOffice
{% endblock %}

{% block body %}
    <main id="main">

        <div class="overlay"></div>

        <header class="header">
            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line line-angle1"></span><span class="line line-angle2"></span></a>Adminboard<a><span class="icon glyphicon glyphicon-chevron-down"></span></a></h1>
            <div class="breadcrumb-admin">
                <div class="button-breadcrumb breadcrumb-profile">
                    <p>
                        Profile
                    </p>
                </div>
                <div class="button-breadcrumb breadcrumb-listadmin">
                    <p>
                        List admin
                    </p>
                </div>
            </div>
        </header>

        <div id="main-nano-wrapper" class="nano">

            <div class="content-profil-admin">

                <div class="content-info-adminboard">

                    <ul class="form-admin-read">
                        <li>
                            <label for="">Pseudo</label>
                            <input type="text" value="{{ admin.pseudo }}" readonly>
                        </li>
                        <li>
                            <label for="">E-mail</label>
                            <input type="text" value="{{ admin.email }}" readonly>
                        </li>
                        <li>
                            <label for="">Password</label>
                            <input type="password" value="{{ admin.password }}" readonly>
                        </li>
                        <li>
                            <label for="">Creation Date</label>
                            <input type="text" value="{{ admin.dateCreation|date('d/m/Y') }}" readonly>
                        </li>
                    </ul>

                    <ul class="form-admin-update">
                        <form action="{{ path('parcoffice_admin_update', {'id': admin.id}) }}" method="POST">
                            <li>
                                <label for="">Pseudo</label>
                                <input name="pseudo" type="text" value="{{ admin.pseudo }}">
                            </li>
                            <li>
                                <label for="">E-mail</label>
                                <input name="email" type="text" value="{{ admin.email }}">
                            </li>
                            <li>
                                <label for="">Password</label>
                                <input name="password" type="password" value="{{ admin.password }}">
                            </li>
                            <li>
                                <button class="button-admin" type="submit">Update</button>
                            </li>
                        </form>
                    </ul>

                    <ul class="form-create-admin">
                        <form action="{{ path('parcoffice_admin_create', {'id': admin.id}) }}" method="POST">
                            <li id="li-text-create">
                                <p>
                                    Creating an administrator is done simply with his email,
                                    the username and password will be generated.
                                </p>
                            </li>
                            <li>
                                <input name="email" type="email" placeholder="E-mail">
                            </li>
                            <li>
                                <button class="button-admin" type="submit">Create</button>
                            </li>
                        </form>
                    </ul>

                </div>

                <div class="content-button-admin">

                    <div class="button-update-admin">
                        <button class="button-admin" id="button-admin-update" type="button">Update</button>
                        <button class="button-admin" id="button-admin-back" type="button">Back</button>
                    </div>

                    <div class="button-delete-admin">
                        <a id="button-delete-admin" href="delete/id-{{ admin.id }}">Delete</a>
                    </div>

                    <div class="button-create-admin">
                        <button class="button-admin circle-create" id="button-create-admin" type="button">+</button>
                        <label>Create</label>
                    </div>

                    <div class="button-create-back">
                        <button class="button-admin circle-create" id="button-create-back" type="button"><</button>
                        <label>back</label>
                    </div>


                </div>

            </div>

            <div class="content-list-admin">

                <table class="tab-title-list">
                    <tr>
                        <td id="first-child-tab">
                            Pseudo
                        </td>
                        <td>
                            E-mail
                        </td>
                        <td>
                            Creation Date
                        </td>
                        <td id="last-child-tab">
                            Profile
                        </td>
                    </tr>
                </table>

                <div class="tab-list-admin">

                    <table>

                        {% for u in alladmins %}
                            <tr>
                                <td>
                                    {{ u.pseudo }}
                                </td>
                                <td>
                                    {{ u.email }}
                                </td>
                                <td>
                                    {{ u.dateCreation|date('d/m/Y') }}
                                </td>
                                <td>
                                    <a href="id-{{ u.id }}">Profile</a>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>

                </div>




            </div>

        </div>

    </main>
{% endblock %}
