{% for success in app.session.flashbag.get('success') %}
    <div class="content-alert alert-success">
        <li>
            {{ success }}
        </li>
    </div>
{% endfor %}

{% for error in app.session.flashbag.get('error') %}
    <div class="content-alert alert-error">
        <li>
            {{ error }}
        </li>
    </div>
{% endfor %}

{% for warning in app.session.flashbag.get('warning') %}
    <div class="content-alert alert-error">
        <li>
            {{ warning }}
        </li>
    </div>
{% endfor %}
