<div id="sidebar" class="nano">

    <div class="nano-content">
        <div class="logo-container">ParcOffice</div>
        {% if session is not defined %}

            <menu class="menu-segment">
                <div class="row content-form-signin">
                    <form action="{{path('parcoffice_admin_signIn')}}" method="POST">
                        <input type="text" name="pseudo" placeholder="Pseudo">
                        <input type="password" name="password" placeholder="Password">
                        <button type="submit"> Sign In</button>
                    </form>
                </div>
            </menu>

        {% endif %}

        {% if session is defined and id_admin is defined %}

            <menu class="menu-segment">

                <div class="content-href-profile">
                    <a class="button-href-sidebar" href="{{ path('parcoffice_admin', {'id': id_admin}) }}">Adminboard</a>
                </div>
                <div class="content-href-profile">
                    <a class="button-href-sidebar" href="{{ path('parcoffice_admin_logout') }}">Sign Out</a>
                </div>

            </menu>

        {% endif %}

        <div class="separator"></div>
        <div class="menu-segment">
            <ul class="chat">
                <li class="title">Menu</li>
                <li><a href="{{ path ('parc_office_homepage') }}"><span class="ball green"></span>All Rooms</a></li>
            </ul>
        </div>

        <div class="bottom-padding"></div>

    </div>

</div>
