<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <!-- {% block stylesheets %} -->
        {% stylesheets
            '../vendor/twitter/bootstrap/less/bootstrap.less'
            '../vendor/twitter/bootstrap/less/responsive.less'
            '../web/bundles/framework/less/style.less'
            filter='lessphp,cssrewrite'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <!-- {% endblock %} -->

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>

        {% include 'parcOfficeBundle::includes/navbar.html.twig' %}
        {% include 'parcOfficeBundle::includes/alert.html.twig' %}

        {% block body %}

        {% endblock %}

        <!-- BLOCK SCRIPT -->
        {% javascripts
            "../vendor/components/jquery/jquery.min.js"
            "../web/bundles/framework/javascripts/bootstrap.min.js"
            "../web/bundles/framework/javascripts/template.js"
            "../web/bundles/framework/javascripts/script.js"
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block script %}{% endblock %}
        <!-- END BLOCK SCRIPT -->

    </body>
</html>
