//- style admin
.content-info-adminboard {
    // border: 1px solid red;
    float: left;
    width: 55%;
    height: 100%;
    padding: 10px 0 20px 0;
    text-align: center;

    ul {
        list-style-type: none;
        margin: 0;

        li {
            // border: 1px solid red;
            margin-bottom: 5px;

            label {
                font-size: 15px;
                margin: 0 0 5px 15px;
                text-transform: uppercase;
            }

            input {
                height: 40px;
                border-radius: 100px;
                padding-left: 15px;
                width: 400px;
                border: 2px solid @accent-color;
            }
        }
    }
}

.form-admin-update {
    display: none;
}

.form-create-admin {
    display: none;
}

#li-text-create {
    padding: 0 90px;
}

.content-button-admin {
    // border: 1px solid red;
    float: left;
    width: 45%;
    height: 100%;
    text-align: center;
}

.button-update-admin {
    margin-top: 15%;
    // border: 1px solid red;
    transition: 0.5s;
}

.button-admin {
    height: 45px;
    border-radius: 100px;
    border: 2px solid @accent-color;
    width: 150px;
    text-transform: uppercase;
    background-color: white;
    color: @accent-color;
    transition: 0.5s;

    &:hover {
        background-color: @accent-color;
        color: white;
    }

    &:focus {
        outline: none;
    }
}



.button-delete-admin {
    margin: 30px 0 30px 0;
    text-align: center;
    transition: 0.5s;

    a {
        padding: 13px 44px;
        border-radius: 100px;
        border: 2px solid #e74c3c;
        color: #e74c3c;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
            background-color: #e74c3c;
            color: white;
        }
    }

}

.circle-create {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    font-size: 30px;
}

.button-create-admin {
    label {
        margin: 10px 0 10px 0;
        color: @accent-color;
        font-size: 15px;
        text-transform: uppercase;
    }
}

.button-create-back {
    display: none;

    label {
        margin: 10px 0 10px 0;
        color: @accent-color;
        font-size: 15px;
        text-transform: uppercase;
    }
}

#button-admin-back {
    display: none;
}

.breadcrumb-admin {
    // border: 1px solid red;
    position: relative;
    bottom: 0;
    width: 290px;
}

.button-breadcrumb {
    border: 2px solid @accent-color;
    border-bottom: none;
    float: left;
    width: 50%;
    text-align: center;
    padding: 11px 10px 10px 10px;
    cursor: pointer;
    transition: 1s;

    p {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
    }
}

.breadcrumb-profile {
    border-radius: 20px 0 0 0;
    background-color: @accent-color;
    color: white;
}

.breadcrumb-listadmin {
    border-radius: 0 20px 0 0;
    background-color: white;
    color: @accent-color;
}

.title-list-tab {
    border: 1px solid @accent-color;
    background-color: @accent-color;
    color: white;
    text-transform: uppercase;
}

.content-list-admin {
    display: none;
    height: 80%;
    // border: 1px solid red;
    width: 90%;
    margin-left: 4%;
}

.tab-title-list {
    width: 100%;
    border-radius: 20px 20px 0 0;

    td {
        // border: 1px solid #BFBFBF;
        width: 25%;
        height: 40px;
        padding-left: 15px;
        border: 1px solid white;
        background-color: @accent-color;
        color: white;
        text-transform: uppercase;
    }
}

#first-child-tab {
    border-radius: 15px 0 0 0;
}

#last-child-tab {
    border-radius: 0 15px 0 0;
}

.tab-list-admin {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    table {
        width: 100%;

        td {
            border: 1px solid #BFBFBF;
            width: 25%;
            height: 40px;
            padding-left: 15px;
            background-color: white;
        }
    }

}

#button-create-back {
    padding-bottom: 8px;
}

#button-create-admin {
    padding: 0 0 6px 3px;
}
