
#room {
  height: 100%;
  width: 100%;
  // border: 1px solid red;
  padding: 10px 10px 10px 0;
}

.box-room{
  width: 25%;
  height: 100px;
  float: left;
  border: 1px solid @accent-color;
  margin-left: 60px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 35px;
  font-size:25px;
  color:@accent-color;
  border-radius: 100px;
  &:hover{
    color: white;
    background-color: @accent-color;
  }
}

.content-form-createroom {
    // border: 1px solid red;
    width: 30%;
    float: right;
    text-align: center;

    form {
        margin: 0;
    }

    input {
        height: 40px;
        border-radius: 100px;
        padding-left: 15px;
        width: 100%;
        border: 2px solid @accent-color;
        margin-bottom: 2px;
    }

    button {
        border: 2px solid @accent-color;
        background-color: transparent;
        height: 40px;
        width: 100px;
        border-radius: 100px;
        color: @accent-color;
        transition: 0.5s;
        text-transform: uppercase;

        &:hover {
            background-color: @accent-color;
            color: white;
		}

        &:focus {
            outline: none;
        }
    }
}
