@import "template";
@import "admin";
@import "room";

//- style alert
.content-alert {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: lighten(#2ecc71, 20%);
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding-top: 35px;

    li {
        color: grey;
        font-size: 22px;
        list-style-type: none;
    }
}

.alert-success {
    background-color: lighten(#2ecc71, 20%);
}

.alert-error {
    background-color: lighten(#e74c3c, 19%);
}

//- form sign in navbar
//- Content button sign
.content-button-sign {
    // border-radius: 100px;
    // border: 2px solid @accent-color;
    text-align: center;
}

.button-sidebar-sign {
    width: 70%;
    height: 45px;
    border-radius: 100px;
    border: 2px solid @accent-color;
    color: @accent-color;
    text-transform: uppercase;
    background-color: transparent;
    transition: 0.5s;
    font-size: 18px;

    &:hover {
        background-color: @accent-color;
        color: @sidebar-background;
    }

    &:focus {
        outline: none;
    }
}

.content-form-signin {
    margin-top: 20px 0 20px 0;
    text-align: center;
    // border: 1px solid red;

    input {
        width: 220px;
        border: 2px solid @accent-color;
        height: 40px;
        padding-left: 15px;
        border-radius: 100px;
        margin-bottom: 15px;

        &:focus {
            outline: none;
        }
    }

    button {
        border: 2px solid @accent-color;
        background-color: transparent;
        height: 45px;
        width: 70%;
        border-radius: 100px;

        color: @accent-color;
        transition: 0.5s;
        text-transform: uppercase;

        &:hover {
            background-color: @accent-color;
            color: @sidebar-background;
		}

        &:focus {
            outline: none;
        }
    }

}

.content-href-profile {
    // border: 1px solid red;
    width: 215px;
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
}

.button-href-sidebar {
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 12px;
    border-radius: 100px;
    border: 2px solid @accent-color;
    color: @accent-color;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover, &link, &visited, &active {
        background-color: @accent-color;
        color: @sidebar-background;
    }

    &:focus {
        outline: none;
    }

}

.list-log {
	margin-top: 350px;
}

.index-computer {
	height: 1000px;
}

