{% extends "parcOfficeBundle::layout.html.twig" %}

{% block title %}
    ParcOffice
{% endblock %}

{% block body %}
    <main id="main">

        <div class="overlay"></div>

        <header class="header">
            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line line-angle1"></span><span class="line line-angle2"></span></a>Computers<a><span class="icon glyphicon glyphicon-chevron-down"></span></a></h1>
        </header>

        <div id="main-nano-wrapper" class="nano">

            <div class="content-profil-admin">
                <h2>Form to add a new computer</h2>

                <div class="content-info-adminboard">
                    <form method="POST" action="{{ path('parcoffice_computer_add')}}">
                        <ul class="form-admin-read">
                            <li>
                                <label for="name">Name :</label>
                                <input type="text" name="name">
                            </li>
                        </ul>
                        <ul class="form-admin-read">
                            <li>
                                <label for="ip">IP :</label>
                                <input type="text" class="form-control" name="ip">
                            </li>
                        </ul>
                        <input type="hidden" value="{{ room }}" name="room">
                        <br />
                        <br />
                        <button type="submit" class="btn btn-default">Add a new computer</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
