{% extends "parcOfficeBundle::layout.html.twig" %}

{% block title %}
    ParcOffice
{% endblock %}

{% block body %}
    <main id="main">

        <div class="overlay"></div>

        <header class="header">
            <div class="search-box">
                <input placeholder="Search..."><span class="icon glyphicon glyphicon-search"></span>
            </div>

            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line line-angle1"></span><span class="line line-angle2"></span></a>Computers<a><span class="icon glyphicon glyphicon-chevron-down"></span></a></h1>
        </header>

        <div id="main-nano-wrapper" class="nano">

            <div class="content-profil-admin">

                <div class="content-info-adminboard">

                    <form method="POST" action="{{ path('parcoffice_computer_edit', {'id': computer.id}) }}">

                        <ul class="form-admin-read">
                            <li>
                                <label for="name">Name * :</label>
                                <input type="text" name="name" value="{{ computer.name }}">
                            </li>
                        </ul>

                        <ul class="form-admin-read">
                            <li>
                                <label for="ip">IP * :</label>
                                <input type="text" class="form-control" name="ip" value="{{ computer.ip }}">
                            </li>
                        </ul>

                        <ul class="form-admin-read">
                            <li>
                                <label for="room">ROOM :</label>
                                <input type="text" class="form-control" value="{{ roomname.name }}" readonly>
                            </li>
                        </ul>

                        <ul class="form-admin-read">
                            <li>
                                <label for="newroom">NEW ROOM * :</label>

                                <select name="newroom">
                                    {% for r in rooms %}
                                        <option value="{{ r.id }}">{{ r.name }}</option>
                                    {% endfor %}
                                </select>
                            </li>
                        </ul>

                        <br />
                        <br />
                        <button type="submit" class="btn btn-default">Edit this computer</button>
                    </form>

                </div>
            </div>
        </div>
    </main>
{% endblock %}
