{% extends "parcOfficeBundle::layout.html.twig" %}

{% block title %}
    ParcOffice
{% endblock %}

{% block body %}
    <main id="main">

        <div class="overlay"></div>

        <header class="header">
            <div class="search-box">
                <input placeholder="Search..."><span class="icon glyphicon glyphicon-search"></span>
            </div>

            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line line-angle1"></span><span class="line line-angle2"></span></a>Computers<a><span class="icon glyphicon glyphicon-chevron-down"></span></a></h1>
        </header>
i

        <div id="main-nano-wrapper" class="nano index-computer">

            <div class="content-profil-admin">

                <div class="content-info-adminboard">

                    <ul class="form-admin-read">
                        <li>
                            <label for="">Name</label>
                            <input type="text" value="{{ computer.name }}" readonly>
                        </li>
                        <li>
                            <label for="">IP</label>
                            <input type="text" value="{{ computer.ip }}" readonly>
                        </li>
                        <li>
                            <label for="">Creation Date</label>
                            <input type="text" value="{{ computer.dateCreation|date('d/m/Y') }}" readonly>
                        </li>
                    </ul>
                </div>
                <div class="content-button-admin">

                    <div class="button-update-admin">
                        <a id="button-admin-update" href="edit/id-{{ computer.id }}">Update</a>
                    </div>

                    <div class="button-delete-admin">
                        <a id="button-delete-admin" href="delete/id-{{ computer.id }}">Delete</a>
                    </div>

                </div>
            </div>
        </div>
	{% if allLog is defined %}
        <div class='list-log'>
		<ul>
            		{% for l in allLog  %}

                		<li>	
                   			<p>
                      				{{l.contentLog}} {{ l.dateCreation | date('Y-m-d\\TH:i:sP') }}
                  			 </p>
				</li>
           		 {% endfor %}
        	</ul>
	</div>
	{%endif %}
    </main>
{% endblock %}
