{% extends "parcOfficeBundle::layout.html.twig" %}

{% block title %}
    ParcOffice
{% endblock %}

{% block body %}
    <main id="main">

        <div class="overlay"></div>

        <header class="header">
            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line line-angle1"></span><span class="line line-angle2"></span></a>All Rooms<a><span class="icon glyphicon glyphicon-chevron-down"></span></a></h1>
            {% if session is defined %}
            <div class="row content-form-createroom">
                <form action="{{ path('parcoffice_room_create') }}" method="POST">
                    <!-- <div class=""> -->
                        <input type="text" name="name" placeholder="Room name">
                    <!-- </div> -->
                    <!-- <div class=""> -->
                        <button type="submit">Create</button>
                    <!-- </div> -->
                </form>
            </div>
            {% endif %}
        </header>

        <div id="main-nano-wrapper" class="nano">

          <div id="room">
            {% for u in allrooms  %}
            <a href="{{ path('parcoffice_room_select', {'id': u.id}) }}">
              <div class="box-room">

                  <p>
                    {{u.name}}
                  </p>

              </div>
            </a>
            {% endfor %}
          <div

        </div>

    </main>
{% endblock %}
