{% extends "parcOfficeBundle::layout.html.twig" %}

{% block title %}
    ParcOffice
{% endblock %}

{% block body %}
    <main id="main">

        <div class="overlay"></div>

        <header class="header">
            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line line-angle1"></span><span class="line line-angle2"></span></a>{{roomName}}<a><span class="icon glyphicon glyphicon-chevron-down"></span></a></h1>
        </header>

        <div id="main-nano-wrapper" class="nano">

            <div class="content-profil-admin">

                <div class="content-info-adminboard">

                    <form method="POST" action="{{ path('parcoffice_room_update', {'id': roomId}) }}">

                        <ul class="form-admin-read">
                            <li>
                                <label for="name">New name of the room * :</label>
                                <input type="text" name="name">
                            </li>
                        </ul>

                        <input type="hidden" class="form-control" name="idroom" value="{{ roomId }}">

                        <button type="submit" class="btn btn-default">Edit this room</button>
                    </form>

                </div>
            </div>
        </div>
    </main>
{% endblock %}
