{% extends "parcOfficeBundle::layout.html.twig" %}

{% block title %}
    ParcOffice
{% endblock %}

{% block body %}
    <main id="main">

        <div class="overlay"></div>

        <header class="header">

            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line line-angle1"></span><span class="line line-angle2"></span></a>{{ roomName }}<a><span class="icon glyphicon glyphicon-chevron-down"></span></a></h1>

        </header>
        {% if session is defined %}
        <form action="../computer/form" method="POST">
            <input type="hidden" value="{{ idName }}" name="room">
            <button type="submit" class="btn btn-info">Add a new computer</button>
        </form>
          <a class="btn btn-info" href="{{path('parcoffice_room_viewform', {'id': idName})}}">Change room name</a>
          <a class="btn btn-danger" href="{{path('parcoffice_room_delete', {'id': idName})}}">delete</a>
        {% endif %}

        <div id="main-nano-wrapper" class="nano">

          <div id="room">
              {% if allComputers %}
                {% for u in allComputers  %}
                    <a href="{{ path('parcoffice_computer', {'id': u.id}) }}">
                      <div class="box-room">

                          <p>
                            {{u.name}}
                          </p>

                      </div>
                    </a>
                {% endfor %}
              {% else %}
              <ul class="form-admin-read">
                  <li>
                      <label>There's no computer yet.</label>
                  </li>
              </ul>
              {% endif %}
          </div>

        </div>

    </main>
{% endblock %}
