{% extends "parcOfficeBundle::layout.html.twig" %}

{% block title %}
    ParcOffice
{% endblock %}

{% block body %}
    <main id="main">

        <div class="overlay"></div>

        <header class="header">
            <div class="search-box">
                <input placeholder="Search..."><span class="icon glyphicon glyphicon-search"></span>
            </div>

            <h1 class="page-title"><a class="sidebar-toggle-btn trigger-toggle-sidebar"><span class="line"></span><span class="line"></span><span class="line"></span><span class="line line-angle1"></span><span class="line line-angle2"></span></a>Rooms<a><span class="icon glyphicon glyphicon-chevron-down"></span></a></h1>
        </header>

        <div id="main-nano-wrapper" class="nano">



        </div>

    </main>
{% endblock %}
